@import '../../../shared/styles/mixins.scss';

.root {
    @include root;
    display: flex;
    max-height: 868px;
    @media(max-width: 1240px){
        max-height: 688px;
    }
    @media(max-width: 760px){
        max-height: 770px;
    }
    &__container{
        margin: 0 auto;
        width: 100%;
    }
    &__content {
        display: flex;
        gap: 8px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        @include lg {
            gap: 6px;
        }
        @media (max-width: 760px) {
            flex-direction: column;
            gap: 2px;
        }
        &Bottom {
            width: 100%;
            max-height: 363px;
        }
        &Cards {
            display: flex;
            column-gap: 8px;
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            @include lg{
                gap: 6px;
            }
            @media (max-width: 1240px) {
                flex-direction: column;
                gap: 4px;
            }
            @media (max-width: 760px){
                flex-direction: row;
            }
        }
        &Img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 40px;
            @media (max-width: 760px){
                max-height: 287px;
                border-radius: 20px;
            }
        }
        &Right {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 4px;
            @media (max-width: 760px){
                width: 100%;
                height: 100%;
                gap: 2px;
            }
        }
        &Left{
            width: 50%;
            @media (max-width: 760px){
                width: 100%;
                max-height: 287px;
            }
        }
        &RightTop {
            background-color: #f2f4fc;
            width: 100%;
            border-radius: 40px;
            height: 500px;
            color: black;
            margin-bottom: 4px;
            @media (max-width: 760px) {
                border-radius: 20px;
            }
        }
        &RightDesc {
            padding: 80px 0 89px 76px;
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #F2F4FC;
            border-radius: 40px;
           height: 100%;
           @include lg{
            padding: 80px 0 89px 70px;
        }
            @media (max-width:1240px) {
                padding: 20px 25px;
                border-radius: 20px;
            }
            @media (max-width: 760px){
                padding: 30px 10px;
            }
        }
        &TopTitle {
            font-weight: 700;
            font-size: 128px;
            letter-spacing: -4%;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
            line-height: 95%;
           
            @include lg{
                font-size: 128px;
            }
            @media (max-width: 1240px){
                font-size: 60px;
            }
            @media (max-width: 760px){
                letter-spacing: -3px;
            }
        }
        &TopSubtitle {
            line-height: 90%;
            font-size: 60px;
            @media (max-width: 1240px){
                font-size: 27px;
            }
            
            @media (max-width: 760px) {
                font-size: 27px;
            }
        }
        &TopText {
            font-weight: 400;
            font-size: 20px;
            line-height: 110%;
            margin-top: 40px;
            max-width: 415px;
            @include lg {
               max-width: 470px;
            }
            @media (max-width: 1240px){
                font-size: 14px;
            }
            @media (max-width: 760px) {
                margin-top: 18px;
            }
            @media (max-width: 325px) {
                max-width: 300px;
            }
        }
    }
}